html,body{
    height: 100%;
    background-color: silver;
    margin: 0;
}

.headerBar{
    height: 60px;
    background-color: royalblue;
}

.insideHeaderBar{
    float: right;
    margin-right: 80px;
}

#userProfilePicture{
    height: 50px;
    width: 50px;
}

#dashBoardIcon{
    
    height: 25px;
    width: 25px;
}

.headerIcons{
    padding-top: 20px;
    padding-left: 20px;
    height: 30px;
    width: 30px;
    border-radius: 100px;
}

.rechargeCardTable{
    height: 50%;
    background-color: white;
    font-family: cursive;
    font-size: 15px;
    
  overflow-y: scroll;
}
.mainRechargeContainer{
   margin-top: 20px;
    margin-left: 20px;
    width: 50%;
}
.tableHeader{
    font-family: cursive;
    font-size: 18px;
    color: white;
    text-align: center;
    height: 50px;
  
    background-color: orangered;
    
}

.totalUsers{
    background-color:white;
    border-radius: 10px;
    text-align: center;
    height: 20%;
    width: 20%;
    margin-top: 20px;
    color: black;
    margin-right: 300px;
    float: right;
    
}

.insertRechargeCard{
    float: right;
    margin-right:215px;
    margin-top: -200px;
    padding: 10px;
    width: 25%;
}

#inputs{
    padding: 4px;
    color: black;
    font-size: 15px;
    width: 100%;
}

.insertRechargeCardHeader{
    height: 50px;
    font-family: cursive;
    font-size: 10px;
    color: white;
    padding: 5px;
    background-color: orangered;
}










